body{
    background-color: antiquewhite;
}

.tabla-estacion{
    text-align: center;
    width: 400px;
    background-color: azure;
}

.celda-color{
    background-color: black;
    color: white;
}

