body{
    background-color: bisque;
}

.tabla-estaciones{
    text-align: center;
    background-color: aquamarine;
    width: 500px;
}

.fondo-fila{
    background-color: black;
    color: white;
}

.fondo-resultado{
    background-color: rgb(208, 244, 244);
}

