body{
    background-color: antiquewhite;
}

.fondo{
    background-color: aqua;
}

.tabla-clientes{
    text-align: center;
    width: 30%;
    height: 150px;
    background-color:rgb(200, 234, 223)
}

.fondo-negro{
    background-color: black;
    color: white;
    height: 15px;
}